@font-face {
    font-family: Norse-Bold;
    src: url(./fonts/Norse-Bold.otf);
}

:root {
    --viewport-height: 100vh;

    --darker-yellow: rgb(255, 255, 255);
    --dark-yellow: rgb(106, 106, 0);
    --yellow: rgb(173, 173, 45);
    --light-yellow: rgb(255, 255, 142);
    --white: rgb(255, 255, 255);
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
}

/* left container */
.left-container {
    max-height: var(--viewport-height);
    width: 40vw;
    background-image: url(./images/bookstore.jpg);
    background-size: 100% 100%;
    color: var(--white);
    text-decoration: none;
    text-align: center;    
    font-family: Norse-Bold;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10rem;
    padding-bottom: 10px;
}

.logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-div>img {
    width: 12vw;
}

.logo-div>.name {
    font-size: 46px;
}

.logo-div,
.credits {
    background-color: rgba(0, 0, 0, 0.702);
}

.credits>a {
    color: var(--yellow);
}

.credits>a:visited {
    color: var(--yellow);
}


/* right container */
.right-container {
    width: 60vw;
}

form {
    height: var(--viewport-height);
    display: flex;
    flex-direction: column;
}

.quote,
.details,
.enter {
    padding: 32px;
}

.quote {
    height: calc(var(--viewport-height)/3);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 24px;
    gap: 2rem;
    background: linear-gradient(var(--white), var(--light-yellow));
    font-style: oblique;
}

.quote>:nth-child(2) {
    font-style: normal;
}

.details {
    height: calc(var(--viewport-height)/3);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: linear-gradient(var(--white), var(--yellow));
    box-shadow: 0 -8px 20px -12px var(--yellow);
}

.details>.heading {
    font-size: 24px;
    font-weight: 700;
}

.details>.fields {
    display: flex;
    flex-direction: column;
}

.details>.fields>div {
    display: flex;
    gap: 2rem;
}

.details>.fields>div>div {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

label {
    text-transform: uppercase;
}

input {
    width: 20vw;
}

.enter {
    height: calc(var(--viewport-height)/3);
    /* height: 33%; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    background: linear-gradient(var(--white), var(--dark-yellow));
    box-shadow: 0 -8px 20px -12px var(--dark-yellow);
}

.enter>button {
    background-color: var(--dark-yellow);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
    color: var(--white);
    box-shadow: 2px 2px 10px 1px var(--light-yellow);
}

.enter>div>a {
    color: var(--dark-yellow);
    font-weight: 700;
}

.enter>.footer {
    position: relative;
    top: calc(var(--viewport-height)/ 3 - 9.5rem);
    right: -46vw;
    color: brown;
    text-align: end;
    color: var(--white);
    font-family: Norse-Bold;
}

.enter>.footer>a {
    color: yellow;
}

input {
    border: 1px solid var(--light-yellow);
    border-radius: 6px;
}

input:focus {
    /* outline: var(--dark-yellow); */
    outline: solid var(--dark-yellow);
    box-shadow: 2px 2px 2px 2px var(--yellow);
}